
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800,800italic,300,300italic,600,600italic&subset=latin,greek);

html, body { height: 100%; min-height: 100vh; 

}

body {

	background: #000 url(../images/IMG_0955.jpg) no-repeat center center; 
  	background-size:cover;
  	text-align:center;
 
}

h1 { 
	font-size:100px; 
	font-family: 'Open Sans Extra-Bold', sans-serif;
	font-weight: 800; 
	color:#FFFFFF;
}

p {
	font-size:20px; 
	font-weight:normal; 
	color:#FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

#slogan { 
	font-size:30px; 
	font-weight:normal; 
	color:#FFFFFF; 
	font-family: 'Open Sans', sans-serif;
}

ul { 
	font-size:16px; 
	font-weight:normal; 
	color:#FFFFFF;
	font-style:italic;
	text-align:left; 
	list-style-position:inside;
	width:300px;
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
}

a { 
	font-size:14px; 
	font-weight:normal; 
	color:#FFFFFF;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

.small {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
