@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,800,800italic,300,300italic,600,600italic&subset=latin,greek);
* { margin:0; padding:0; box-sizing:border-box; }
body {
  	color:#333;
  	font-size:20px;
  	font-family: 'Open Sans', sans-serif;
  	text-align:center;
}
header {
	color:#fff;
}
h1 { 
	font-size:5em; 
	font-weight: 800; 
}

#slogan { 
	font-size:1.5em; 
	margin:auto;
	width:28em;
}

ul { 
	font-style:italic;
	text-align:left; 
	list-style-position:inside;
	width:300px;
	margin:0 auto;
}

a { 
	font-size:16px; 
	color:inherit;
	padding:1em;
	text-decoration: none;
}
#splash {
	background:url(../images/IMG_0955.jpg) no-repeat center center; 
  	background-size:cover;
  	/*background-attachment:fixed;*/
  	color:#fff;
  	height:90vh;
}
#splash div {
	padding:10em;
}
