html { 
  background: url(images/IMG_6787.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	text-align:center; 
}

h1 {
	font-family:Helvetica; 
	font-size:150px; 
	font-weight:bold; 
	font-color:#FFF;
}

p {
	font-family:Helvetica; 
	font-size:26px; 
	font-weight:normal; 
	font-color:#FFF;
}

#slogan {
	font-family:Helvetica; 
	font-size:40px; 
	font-weight:normal; 
	font-color:#FFF; 
}

ul {
	font-family:Helvetica; 
	font-size:20px; 
	font-weight:normal; 
	font-color:#FFF;
	font-style:italic;
}

a {
	font-family:Helvetica; 
	font-size:26px; 
	font-weight:normal; 
	font-color:#FFF;
}